:root {
    /* color palette using custom properties (cascading variables) */
    --scarlet-400: #E8E8E8;
    --color-primary: #26436B; 
    --color-background: white; 
    --color-link: #F1E1D1;
    --color-border: #E9B26F;
    --color-secondary: #0E1A28; 
}
    
    header{
        background-color: #26436B;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px ;
    }
    header img {
        width: 200px;
        height: 100px;
    }
    .MYCSE{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-family:'Inknut Antiqua',light;
        font-size: 2rem ;
        margin-top: 40px;
        padding: 0px;
        color:#26436B;
    }
    h2{
        font-family: 'Nunito';
        font-size: 1.5rem;
        opacity: 65%;
        color: #0E1A28;
    }
    .loginform{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    }
   .input-container{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 8px 0;
    margin: 10px 0;
   }
   .input-container i {
    font-size: 15px;
    color: black;
    margin-right: 10px;
}
.input-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: none;
    font-family:'Inika', Regular;
}
   button{
    width: 125px;
    padding: 0%;
    background-color:#E9B26F;
    color:white;
    border: none;
    border-radius:15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-family:'Inknut Antiqua',Regular;
    cursor: pointer;
    margin-top: 2rem;
    align-self: flex-end;
   } 
@media screen and (min-width: 600px) {

}
@media screen and (prefers-color-scheme: dark){
    body {
        background-color: #121212;
        color: white;
    }

    .input-container i {
        color: white;
    }
    .input-container{
        border-bottom: 2px solid white;
    }
    h1,h2 {
        color: #F1E1D1;
    }
}

   